<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Products</title>
  </head>
  <body>
  <div id ="app">
    <div class ="product-image">
    <h1> {{ Product }} </h1>
    <p v-if="inventory > 10">In stock</p>
    <p v-else-if="inventory<=10 && inventroy > 0">Almost sold out</p>
    <p v-else>Out of stock </p>
  </div>
  <div id="app-2">
    <span v-bind:title="Product">
     내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니다!
    </span>
  </div>

  <div id="app-3">
    <p v-if="seen">이제 나를 볼 수 있지</p>
  </div>

  <div id="app-4">
    <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
    </ol>
  </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
    <script>
        app4.todos.push({ text: 'New item' })
    </script>

</body>
</html>
